<div>
  <div class="banner">
    <img src="assets/img/about-us-team.jpg" alt="Banner image showing team" width="100%">

    <div class="banner-text">
      <h1>About Us</h1>
    </div>
  </div>

  <div class="shell-wide wrapper-1">
    <div class="img-wrapper">
      <img src="assets/img/about-us-main.jpg" alt="House icon on keyboard key" width="615px" height="auto" class="inline-img">
    </div>

    <div class="text-wrapper">
      <div class="text-container">
        <h1>Helping You Every Step of the Way!</h1>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Non nisi est sit amet facilisis magna. Nisl purus in mollis nunc. Suscipit tellus mauris a diam maecenas sed. Eget duis at
          tellus at urna condimentum. Id aliquet lectus proin nibh nisl condimentum id venenatis. Dui accumsan sit amet nulla.
          Dignissim sodales ut eu sem.
        </p>
        
        <p>Dignissim sodales ut eu sem integer vitae justo eget magna. Gravida in fermentum et sollicitudinac orci. Sed velit dignissim
          sodales ut eu sem integer vitae. Eu volutpat odio facilisis mauris sit amet. Elementum nibh tellusmolestie nunc non. Sit amet
          est placerat in egestas erat imperdiet sed euismod.
        </p>
      </div>
    </div>
  </div>

  <div class="shell-wide wrapper-2">
    <div class="text-wrapper">
      <div class="text-container">
        <h1>Our Values and Achievements</h1>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Non nisi est sit amet facilisis magna. Nisl purus in mollis nunc. Suscipit tellus mauris a diam maecenas sed. Eget duis at
          tellus at urna condimentum. Id aliquet lectus proin nibh nisl condimentum id venenatis. Dui accumsan sit amet nulla.
          Dignissim sodales ut eu sem.
        </p>

        <p>Dignissim sodales ut eu sem integer vitae justo eget magna. Gravida in fermentum et sollicitudinac orci. Sed velit dignissim
          sodales ut eu sem integer vitae. Eu volutpat odio facilisis mauris sit amet. Elementum nibh tellusmolestie nunc non. Sit amet
          est placerat in egestas erat imperdiet sed euismod.
        </p>
      </div>
    </div>

    <div class="img-wrapper">
      <img src="assets/img/about-us-main2.jpg" alt="House being sold" width="615px" height="auto" class="inline-img">
    </div>
  </div>

  <app-new-on-market></app-new-on-market>
</div>
