
.box{
  position: relative;
  display: inline-block;
}

.box .text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 70%;
  background: rgba(20, 20, 20, 0.6);
  color: #fff;
  width: fit-content;
  padding: 5px 10px;
  font-size: 30px;
}
