<div>
  <div class="shell-wide">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <app-carousel-item title="Properties" routeTo="/properties" imgSrc="assets/img/properties.jpg"></app-carousel-item>
          </li>

          <li class="glide__slide">
            <app-carousel-item title="About Us" routeTo="/about-us" imgSrc="assets/img/about-us.jpg"></app-carousel-item>
          </li>

          <li class="glide__slide">
            <app-carousel-item title="Contact Us" routeTo="/contact-us" imgSrc="assets/img/contact-us.png"></app-carousel-item>
          </li>
        </ul>
      </div>

      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left controls" data-glide-dir="<"><</button>
        <button class="glide__arrow glide__arrow--right controls" data-glide-dir=">">></button>
      </div>
    </div>
  </div>

  <div class="shell-full-width">
    <div class="parallax-wrapper">
      <div class="parallax-overlay"></div>

      <div class="parallax">
        <div class="shell-wide parallax-text">
          <h1>Welcome</h1>

          <div class="divider centralise"></div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Tristique et egestas quis ipsum suspendisse ultrices. Amet luctus venenatis lectus magna fringilla. Felis eget velit aliquet
            sagittis id consectetur purus ut faucibus. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Ac tortor vitae purus
            faucibus ornare suspendisse. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Nulla aliquet enim tortor
            at auctor urna. Gravida quis blandit turpis cursus in hac habitasse.
          </p><br>

          <p>
            Amet mauris commodo quis imperdiet. Consectetur purus ut faucibus pulvinar elementum integer enim neque. Faucibus a pellentesque
            sit amet porttitor eget dolor morbi. Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Sed lectus vestibulum mattis
            ullamcorper velit sed ullamcorper. Felis eget velit aliquet sagittis. Aliquet porttitor lacus luctus accumsan tortor posuere ac
            ut consequat. Nisi scelerisque eu ultrices vitae auctor eu.
          </p><br>

          <p>
            Sit amet consectetur adipiscing elit duis. Aliquet bibendum enim facilisis gravida neque convallis a cras semper. Mattis nunc
            sed blandit libero. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Quis commodo odio aenean sed
            adipiscing diam donec adipiscing tristique. Amet mattis vulputate enim nulla aliquet. Dolor sit amet consectetur adipiscing
            elit duis. Ullamcorper eget nulla facilisi etiam dignissim diam quis.
          </p><br>

          <p>
            Amet porttitor eget dolor morbi. Porttitor eget dolor morbi non arcu risus quis varius quam. Sit amet mattis vulputate enim nulla.
            Quisque id diam vel quam elementum. Justo laoreet sit amet cursus sit amet. Placerat in egestas erat imperdiet sed euismod nisi.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="shell-wide">
    <div>NEW ON MARKET</div>
  </div>
</div>
