.title {
  text-align: center;
  font-size: 46px;
}

.sort-wrapper {
  display: flex;
  justify-content: flex-end;
}

.properties-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.property-card-container {
  flex-basis: 33.33%;
  padding: 8px;
}

@media (max-width: 1299px) {
  .property-card-container {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .property-card-container {
    flex-basis: 100%;
  }
}

.error-banner {
  color: #fff;
  background: #3f51b5;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.pagination /deep/ .page-link {
  color: #3f51b5;
}

.pagination /deep/ .page-link:hover {
  color: #3f51b5;
}

.pagination /deep/ .page-item.active .page-link {
  background-color: #3f51b5;
  border-color: #3f51b5;
  color: white;
}
