.title {
  text-align: center;
  font-size: 46px;
}

.filters-box {
  width: 100%;
  background-color: rgba(118,113,113,0.8);
  color: #fff;
  padding: 12px;
  margin: 10px 0;
}

.properties-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.property-card {
  flex-basis: 32%;
  margin: 10px auto;
}

@media (max-width: 1299px) {
  .property-card {
    flex-basis: 49%;
  }
}

@media (max-width: 768px) {
  .property-card {
    flex-basis: 100%;
  }
}
