<div class="shell-wide">
  <h1 class="title">Properties For Sale</h1>
  <div class="divider centralise"></div>

  <app-filters></app-filters>

  <div class="properties-container" *ngIf="properties">
    <app-property-item
      class="property-card"
      *ngFor="let property of properties | paginate: { itemsPerPage: propertiesPerPage, currentPage: page }"
      [property]="property"
    >
    </app-property-item>
  </div>

  <div class="pagination-container">
    <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
