<div class="shell-wide">
  <h1 class="title">Properties For Sale</h1>
  <div class="divider centralise"></div>

  <app-filters (filterProperties)="filterProperties($event)"></app-filters>

  <div class="sort-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>Sort by:</mat-label>
      <mat-select [(value)]="sortFilterValue" (selectionChange)="sortProperties()">
        <mat-option *ngFor="let sortFilter of sortFilters" [value]="sortFilter.value">
          {{ sortFilter.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="properties-container" *ngIf="properties">
    <app-property-item
      class="property-card"
      *ngFor="let property of properties | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
      [property]="property"
    >
    </app-property-item>
  </div>

  <div class="pagination-container" *ngIf="properties">
    <ngb-pagination
      class="d-flex justify-content-center pagination"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="properties.length"
      [boundaryLinks]="true"
    >
    </ngb-pagination>
  </div>
</div>
