<mat-card>
  <img mat-card-image src="{{thumbnailSrc}}" alt="Property image" [routerLink]="['/properties', property.propertyId]">
  <div class="property-status">{{ statusString }}</div>

  <mat-card-content>
    <mat-list>
      <mat-list-item class="address-item">{{ address }}</mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item class="price-item">{{ property.details.price | currency:"GBP":"symbol":"1.0-2" }}</mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item class="extra-detail-item">
        <div class="icon-container">
          <div>{{ property.details.bedrooms }} x </div>
          <mat-icon class="bed-icon">king_bed</mat-icon>
        </div>

        <div class="icon-container">
          <div>{{ property.details.bathrooms }} x </div>
          <mat-icon class="icon">bathtub</mat-icon>
        </div>

        <button mat-raised-button [routerLink]="['/properties', property.propertyId]">View</button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
