mat-card {
  padding: 0 16px;
}

mat-card img {
  height: 240px;
  object-fit: cover;
  margin: 0 -16px 0 -16px;
}

mat-card img:hover {
  cursor: pointer;
}

mat-card-content {
  margin-top: 0px;
}

mat-list {
  padding: 0px;
}

.address-item {
  height: 44px;
  margin: 6px 0;
  padding: 0;
  font-size: 20px;
}

.price-item {
  height: 40px;
  font-size: 20px;
}

.extra-detail-item {
  height: 56px;
}

button {
  background-color: #d24726;
  color: #fff;
  margin: 4px 0 4px auto;
}
