.titles-container {
  text-align: center;
  margin-bottom: 18px;
}

.summary-map-wrapper {
  display: flex;
  margin: 12px 0;
}

.summary-container {
  width: 50%;
  margin: 10px 10px 10px 0;
}

.summary-container mat-divider {
  position: relative;
}

.summary-container mat-list {
  padding-top: 0;
}

.summary-container mat-card {
  padding: 8px 16px;
}

.summary-container mat-list-item {
  height: 42px;
}

.item-title {
  font-weight: bold;
}

.item-data {
  margin-left: auto;
  text-align: end;
}

.short-description-item {
  height: 100% !important;
}

.short-description-item-title {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.map-container {
  width: 50%;
  margin: 10px 0 10px 10px;
}

@media (max-width: 1100px) {
  .summary-map-wrapper {
    display: block;
  }

  .summary-container, .map-container {
    width: 100%;
    margin: 10px 0;
  }
}

.main-details-container {
  margin: 12px 0 18px;
}

.main-details-container /deep/ .mat-tab-header {
  margin-bottom: 12px
}

.features-list {
  list-style-position: inside;
}

button {
  margin: 6px;
}
