<div class="shell-wide shell-md-full">
  <div *ngIf="property" class="titles-container">
    <h1>{{ bedroomsString }}, {{ propertyType }}</h1>
    <h3>{{ address }}</h3>
    <h2>{{ property.details.price | currency:"GBP":"symbol":"1.0-2" }}</h2>
  </div>

  <div *ngIf="property" class="summary-carousel-wrapper">
    <div class="carousel-container">
      <ngb-carousel *ngIf="property">
        <ng-template ngbSlide *ngFor="let propertyImage of propertyImages">
          <div class="picsum-img-wrapper">
            <img src="{{ propertyImage.url }}" height="414px" width="auto">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="summary-container">
      <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <div class="item-title">Status:</div>
              <div class="item-data">{{ statusString }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
              <div class="item-title">Type:</div>
              <div class="item-data">{{ propertyType }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
              <div class="item-title">Bedrooms:</div>
              <div class="item-data">{{ property.details.bedrooms }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
              <div class="item-title">Bathrooms:</div>
              <div class="item-data">{{ property.details.bathrooms }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
              <div class="item-title">Receptions:</div>
              <div class="item-data">{{ property.details.receptionRooms }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
              <div class="item-title">Address:</div>
              <div class="item-data">{{ address }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
              <div class="item-title">Price:</div>
              <div class="item-data">{{ property.details.price | currency:"GBP":"symbol":"1.0-2" }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <div matSubheader class="short-description-item-title">Brief Description: </div>
            <mat-list-item class="short-description-item">
              <div class="short-description-item-data" [innerHTML]="property.details.shortDescription"></div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-tab-group *ngIf="property" class="main-details-container">
    <mat-tab label="Description">
      <div [innerHTML]="property.details.fullDescription"></div>
      <div *ngIf="property.details.features.length">
        <h2>Features:</h2>

        <ul class="features-list">
          <li *ngFor="let feature of property.details.features">{{ feature }}</li>
        </ul>
      </div>
    </mat-tab>

    <mat-tab label="Map" *ngIf="property.details.latitude && property.details.longitude">
      <div class="map-wrapper">
        <mat-card>
          <agm-map
            [latitude]="property.details.latitude"
            [longitude]="property.details.longitude"
            [mapTypeId]="mapType"
            [zoom]="16"
            [mapTypeControl]="mapTypeControl"
            [mapTypeControlOptions]="mapTypeControlOptions"
          >
            <agm-marker
              [latitude]="property.details.latitude"
              [longitude]="property.details.longitude"
              [opacity]="1"
              [markerDraggable]="false"
            >
            </agm-marker>
          </agm-map>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>

  <button mat-raised-button color="primary" (click)="openViewingDialog()">Book a Viewing</button>
  <button mat-raised-button color="primary" (click)="openEnquiryDialog()">Make an Enquiry</button>
</div>
