<header class="header">
  <div class="header-logo">
    <a href="/"><img src="assets/img/logo.png" alt="Logo" height="77px" width="247px"></a>
  </div>

  <div class="header-nav">
    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      |
      <a routerLink="/properties" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Properties</a>
      |
      <a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About Us</a>
      |
      <a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact Us</a>
    </nav>
  </div>
</header>
