* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

.flex-container {
  display: flex;
}

.shell-full-width {
  width: 100%;
  margin: 30px 0;
}

.shell, .shell-wide {
  min-width: 300px;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 30px auto
}

@media (min-width: 1300px) {
  .shell-wide {
    max-width: 1300px !important;
  }
}

@media (min-width: 1200px) {
  .shell, .shell-wide {
    max-width: 1200px;
  }
}

@media (min-width: 992px) {
  .shell, .shell-wide {
    max-width: 970px;
  }
}

@media (min-width: 768px) {
  .shell, .shell-wide {
    max-width: 750px;
  }
}

.divider {
  width: 120px;
  height: 3px;
  margin: 20px auto 20px 20px;
  border: none;
  background: #d24726;
}

.centralise {
  margin-left: auto;
  margin-right: auto;
}
