<footer class="footer">
  <div class="footer-logo">
    <img src="assets/img/logo.png" alt="Logo" height="62px" width="198px">
  </div>

  <div class="footer-copyright">
    <a href="/">Henry North</a> &copy; {{ copyrightYear }}
  </div>

  <div class="footer-nav">
    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      |
      <a routerLink="/properties" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Properties</a>
      |
      <a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About Us</a>
      |
      <a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact Us</a>
    </nav>
  </div>
</footer>
