.footer {
  background: #d24726;
  color: #fff;
  padding: 10px;
  display: flex;
  font-size: 18px;
}

.footer-logo {
  margin: auto 30px;
  max-height: 62px;
}

.footer-copyright {
  margin: auto 0;
}

.footer-copyright a {
  text-decoration: none;
  color: #fff;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-nav {
  margin: auto 30px auto auto;
}

.footer-nav a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin: 0 6px
}

.footer-nav a:hover {
  text-decoration: underline !important;
}

.active {
  text-decoration: underline !important;
}
