<div class="shell-wide shell-md-full page-wrapper">
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field name-field" appearance="outline">
        <mat-label>Name</mat-label>

        <input matInput name="name" [formControl]="name">

        <mat-error *ngIf="name.errors.required">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field email-field" appearance="outline">
        <mat-label>Email</mat-label>

        <input matInput placeholder="Ex. info@example.com" name="email" [formControl]="email">

        <mat-error *ngIf="email.errors.email && !email.errors.required">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.errors.required">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field enquiry-field" appearance="outline">
        <mat-label>Enquiry/Message</mat-label>

        <textarea matInput rows="6" name="message" [formControl]="message"></textarea>

        <mat-error *ngIf="message.errors.required">
          An enquiry/message is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="filter-item" (click)="onSubmit()">Send</button>
    </form>
  </div>

  <div class="info-container">
    <div class="info-item">
      <div class="flex-container">
        <mat-icon>phone</mat-icon>
        <h2>Phone</h2>
      </div>

      <div class="divider info-divider"></div>

      <p>01242 371 093</p>
    </div>

    <div class="info-item">
      <div class="flex-container">
        <mat-icon>email</mat-icon>
        <h2>Email</h2>
      </div>

      <div class="divider info-divider"></div>

      <p>info@example.com</p>
    </div>

    <div class="info-item">
      <div class="flex-container">
        <mat-icon>location_on</mat-icon>
        <h2>Location</h2>
      </div>

      <div class="divider info-divider"></div>

      <p>Goldicote Business Park</p>
      <p>Banbury Rd</p>
      <p>Stratford-upon-Avon</p>
      <p>CV37 7NB</p>
    </div>
  </div>
</div>
